<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battle History</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <h1 class="superheroArenaTop">Battle Log</h1>
    <hr>

    <%- log %>

    <div id="twoButtons">
        <a href="/">
            <input class="home" type="button" value="HOME"><br>
        </a>
        
        <a href="https://www.superheroapi.com/ids.html">
            <input class="allHeroes" type="button" value="All Heroes"><br>
        </a>
    </div>
</body>
</html>
