<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Not Found</title>
    <link rel="stylesheet" type="text/css" href="/style.css" >
</head>

<body>
    <h1 class="superheroArenaTop">Superhero Arena</h1>

    <h2 id="apology">Unable to find <%- heroName %></h2>

    <div id="twoButtonsSpecial">
        <a href="/">
            <input class="home" type="button" value="HOME"><br>
        </a>
        
        <a href="https://www.superheroapi.com/ids.html">
            <input class="allHeroes" type="button" value="All Heroes"><br>
        </a>
    </div>
</body>
</html>