<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Superhero Arena</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <h1 id="superheroArena">Superhero Arena</h1>

    <div id="homescreen">
        <a href="/battleHeroes">
            <input id="battleHeroes" type="button" value="BATTLE"><br>
        </a>

        <div id="threeButtons">
            <a href="/searchHero">
                <input id="lookupHero" type="button" value="Find Hero"><br>
            </a>

            <a href="/battleHistory">
                <input id="battleHistory" type="button" value="Battle Log"><br>
            </a>
            
            <a href="https://www.superheroapi.com/ids.html">
                <input class="allHeroes" type="button" value="All Heroes"><br>
            </a>
        </div>
    </div>
</body>
</html>
